* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Roboto, Noto Sans CJK KR, Tahoma, 'Noto Sans KR', 'Gmarket Sans', sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%
}
div ul ul ul il {
float:left;
}

*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}



.box_head-content {
    height: 100px;
    position: relative;
    width: 1000px;
    margin: auto;
}

.box_title-logo {
    display: inline-block;
    margin-left: -40px;
    font-size: 0;
    vertical-align: top;
}

.box_title-logo .link_head {
    display: block;
}

.box_head-search {
    position: relative;
    display: inline-block;
    width: 553px;
    height: 48px;
    margin: 24px 100px;
    border-radius: 24px;
    border: 4px solid #FECC4D;
    box-sizing: border-box;
    vertical-align: top;
    background-color: #fff;
    justify-content: space-between;"
}

.box_head-search .form_input {
    display: block;
    width: 100%;
    height: 45px;
    padding: 0;
    border: 0;
    font-size: 16px;
    color: #222;
    letter-spacing: -0.5px;
    line-height: 29px;
    background-color: transparent;
    border-radius: 24px;
    text-indent: 16px;
    outline: 0;
}

.box_head-search .button_search {
    position: absolute;
    right: 17px;
    top: 5px;
    width: 32px;
    height: 32px;
    padding: 5px;
    border: 0;
}

.box_head-search .button_search .image {
    width: 100%;
    height: 100%;
}

.for-a11y {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    text-indent: -5000em;
}

fieldset, img {
    border: 0 none;
}

.box_head-mytools {
    position: absolute;
    right:17px;
    width: 32px;
    height: 32px;
    padding: 5px;
    border: 0;
    top: 26px;
    float:left;
}

.box_head-mytools .list_mytools {
    font-size: 0;
float:left;
}

.box_head-mytools .list_mytools .list-item--mypage {
    width: 160px;
   margin: 10px 10px 10px 10px;
 
}

.box_head-mytools .list_mytools .list-item--cart {
    width: 160px;
   margin: 10px 10px 10px 10px;

}


